#canvas {
    outline: 1px solid white;
}

body {
    background-color: goldenrod;
    text-align: center;
    margin-top: 60px;
}

[hidden] {
    display: none;
}

.navigation ul {
    list-style: none;
}